<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header-scripts}}
  </head>
  <body>
    <div id="wrap">

      <div class="container" style="padding-top: 40px;">
        {{{ content }}}    
      </div>

      <div id="push"></div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Authored by: <a href="mailto:david@hillsoft.com">David Higginbotham</a> - Attributions: <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> and <a href="http://www.hapijs.com">Hapi.js</a>.</p>
      </div>
    </div>
  {{>footer-scripts}}
  </body>
</html>