    <div class="row">
      <div class="span2">
        <div class="well" style="height: 300px;">
          
          <b>Current Users</b>
          <div id="users"></div>
        </div>
      </div>
      <div class="span10">
        <div id="conversation" style="overflow-y: auto; height: 300px;"></div>
      </div>
    </div> <!-- #row -->

      <div class="row">
        <div class="span10">
          <input type="text" id="data" class="input span10" />
        </div>
        <div class="span2">
          <input class="btn btn-primary btn-block" type="button" id="datasend" value="send" />
        </div>
      </div> <!-- #row -->
